@keyframes beg {
    0% {opacity: 0;}
    30% {opacity: 0;}
    100% {opacity: 1;}
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: justify;
}

h2 {margin-top: 25px;}
h3 {margin-top: 20px;}

ul{
    margin: 10px;
    margin-left: 0px;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
    text-decoration: none;
}

li{
    //background: #47a6ff;
}
.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    animation-name: beg;
    animation-duration: 1s;
}

.row{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    min-height: 100px;
    justify-content: space-between;
    width: 100%;
    margin-top:10px;
    margin-bottom: 10px;

}

.col-3, .col-4, .col-6, .col-8, .col-12{
    padding: 10px;
    display: flex;
    padding: 0px;
    flex-flow: column;
}

.col-3{
    width: 25%;
}
.col-4{
    width: 33.33333%;
    padding: 0px;
}
.col-6{
    width: 50%;
}
.col-8{
    width: 66.66667%;
}
.col-12{
    width: 100%;
}
p{
    margin: 10px;
    flex: 1;
}
iframe{
    margin: 0px;
}

/* responsive*/
@media screen and (max-width: 1200px) {
    .container{
        width: 750px;
    }
}

@media screen and (max-width: 800px) {
    .container{
        width: 450px;
    }

    .resp-12{
        width: 100%;
    }
    .resp-hidden{
        display: none;
    }
}

@media screen and (max-width: 500px){
    .container{
        width: 325px;
    }

    .notification{
        width: 90%;
        left: 5%;
    }
}
