footer#footerprinc{
    text-align: center;
    background: #0776A0;
    height: 50px;
    /*min-height: 50px;
    max-height: 50px;*/
}

#formulaire {
    background: #0776A0;
    position: relative;
    top: 0px;
    overflow: hidden;
    height: 50px;
    padding: 10px;
}

#formulaire input{
    background: #055b7c;
    border-radius: 15px;
    padding: 5px 15px;
    border: none;
}

#formulaire input:focus{
    outline-offset: 0px;
}

.description{
    display: none;

    transition: display 2s;
}

form{
    text-align: left;
}
footer#footerprinc .row{
    min-height: 100%;
    max-height: 50px;
    margin: 0px;
    background: inherit;
}
footer#footerprinc .row :nth-child(n){
    max-height: 50px;
}

footer#footerprinc .row :last-child{
    max-height: 400px;
}

footer#footerprinc form div label{
    width: 30%;
    margin: 0px;
    margin-bottom: 10px;
}
footer#footerprinc form div input{
    width: 50%;
    margin: 0px;
    margin-bottom: 20px;
}

footer#footerprinc form .valid{
    margin-left: 55%;
    width: 25%;
    height: 50px;
}



/*label, input{
    display: block;
}*/
