@keyframes moveNotif {
    0%{top : 100px; opacity: 0;}
    20%{opacity: 1}
    70%{top : 100px;}
    100%{top : -70px;}
}

.notification{
    position: fixed;
    top: -70px;
    height: 70px;
    width: 50%;
    left: 25%;
    text-align: center;
    line-height: 70px;
    display: block;

    animation-name: none;
    animation-duration: 3s;
}

.ok {
    background: rgba(50, 255, 100, 0.8);
    color: rgba(50, 150, 100, 1);
}
.notok {
    background: rgba(255, 50, 100, 0.8);
    color: rgba(150, 50, 100, 1);
}

header#header{
    background: #0776A0;
    height: 70px;
    text-align: center;
    line-height: 70px;
    position: static;
    top: 0px;
    left: 0px;
    right: 0px;
}

header#header .button{
    background: #1E48C8;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 20px;
    padding: 5px;
    border-radius: 100%;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.6);

    transition-property: background;
    transition-duration: 0.3s;
}

header#header .button:hover{
    background: white;
}

header#header .button img{
    position: relative;
    top: -15px;
    width: 30px;
    height: 30px;

    transition-property: width height;
    transition-duration: 0.5s;
}

/*header#header .button img:hover{
    width: 50px;
    height: 50px;
}*/
div.behind{
    min-height: 70px;
}
header#header h1{

}
