@keyframes navOnLoad {
    0% {left: 0px;}
    50% {left: 0px;}
    100% {left: -200px;}
}

nav#navprinc header{
    height: 70px;
}

nav#navprinc{
    width: 200px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -200px;
    background: #4C9AB8;
    opacity: 0.9;
    box-shadow: 0px 0px 5px black;

    transition-property: left;
    transition-duration: 0.5s;

    animation-name: navOnLoad;
    animation-duration: 1s;
}
nav#navprinc a{
    display: block;
    float: left;
    padding: 10px;

    transition-property: box-shadow;
    transition-duration: 0.5s;
}
nav#navprinc a:hover{
    box-shadow: 300px 0px 0px inset #055b7c;
}
nav#navprinc header{
    background: inherit;
}

nav#navprinc a{
    width: 100%;
}
