.container section{
    //border: black 1px solid;
}
.container div{
    //border: black 1px solid;
}

.container div.section{
    background: white;
    box-shadow: 0px 0px 10px black;
}

.container {
    //border: solid black 1px;
}
body{
  background-image: url("../media/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(50, 50, 50);
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}
.row{
    background: rgba(80, 130, 180, 0.8);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

.presentation{
    text-align: center;
}

.presblock{
    display: block;
    text-align: center;
    line-height: 80px;
}
